<a href="https://colab.research.google.com/github/navros-fabian/2061-pandas-conociendo-la-biblioteca/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [45]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

## tienda.head() # muestra las 5 primeras filas (verificar datos)

In [55]:
## tienda.info() # Muestra el tipo de cada columna (numero, texto, fecha )

In [54]:
## tienda.describe() # Muestra estadisticas basicas

In [11]:
# Revisar columnas de una tienda (todas deberían ser iguales)
for i, col in enumerate(tienda1.columns, start=1):
    print(f"{i}. {col}")

1. Producto
2. Categoría del Producto
3. Precio
4. Costo de envío
5. Fecha de Compra
6. Vendedor
7. Lugar de Compra
8. Calificación
9. Método de pago
10. Cantidad de cuotas
11. lat
12. lon

#1. Análisis de facturación

In [46]:
# Calcula la suma de todos los valores en la columna 'Precio' para cada tienda
total_tienda1 = tienda1['Precio'].sum()
total_tienda2 = tienda2['Precio'].sum()
total_tienda3 = tienda3['Precio'].sum()
total_tienda4 = tienda4['Precio'].sum()

# Muestra en pantalla el total facturado de cada Tienda
print(f"El valor Total facturado de la Tienda 1: $ {total_tienda1}")
print(f"El valor Total facturado de la Tienda 2: $ {total_tienda2}")
print(f"El valor Total facturado de la Tienda 3: $ {total_tienda3}")
print(f"El valor Total facturado de la Tienda 4: $ {total_tienda4}")

El valor Total facturado de la Tienda 1: $ 1150880400.0
El valor Total facturado de la Tienda 2: $ 1116343500.0
El valor Total facturado de la Tienda 3: $ 1098019600.0
El valor Total facturado de la Tienda 4: $ 1038375700.0

# 2. Ventas por categoría

In [47]:
# Cuenta cuántos productos hay por cada categoría en la tienda1 y guarda el resultado en vpc_tienda1
vpc_tienda1 = tienda1['Categoría del Producto'].value_counts()
vpc_tienda2 = tienda2['Categoría del Producto'].value_counts()
vpc_tienda3 = tienda3['Categoría del Producto'].value_counts()
vpc_tienda4 = tienda4['Categoría del Producto'].value_counts()

# Imprime en pantalla el conteo de productos por categoría en la Tienda 1 (resultado de vpc_tienda1)
print(f'Tienda 1: {vpc_tienda1}')
print('-'*35)
print(f'Tienda 2: {vpc_tienda2}')
print('-'*35)
print(f'Tienda 3: {vpc_tienda3}')
print('-'*35)
print(f'Tienda 4: {vpc_tienda4}')
print('~'*35)

Tienda 1: Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64
-----------------------------------
Tienda 2: Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64
-----------------------------------
Tienda 3: Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64
-----------------------------------
Tienda 4: Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [43]:
# Agrupa los productos de tienda1 por categoría, suma los precios de cada grupo y ordena las categorías de mayor a menor total
precio_categoria1 = tienda1.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
precio_categoria2 = tienda2.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
precio_categoria3 = tienda3.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
precio_categoria4 = tienda4.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)

# Imprime en pantalla el total de precios agrupados por categoría de producto en la Tienda 1 (precio_categoria1)
print (f'Tienda 1:{precio_categoria1}')
print('-'*35)
print (f'Tienda 2:{precio_categoria2}')
print('-'*35)
print (f'Tienda 3:{precio_categoria3}')
print('-'*35)
print (f'Tienda 4:{precio_categoria4}')

Tienda 1: Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64
-----------------------------------
Tienda 2: Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64
-----------------------------------
Tienda 3: Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64
-----------------------------------
Tienda 4: Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Tienda 1:                              Precio
Categoría del Producto
Electrónicos             429493500.0
Electrodomésticos        363685200.0
Muebles                  187633700.0
Instrumentos musicales    91299000.0
Deportes y diversión      39290000.0
Juguetes                  17995700.0
Artículos para el hogar   12698400.0
Libros                     8784900.0
-----------------------------------
Tienda 2:                              Precio
Categoría del Producto
Electrónicos             410831100.0
Electrodomésticos        348567800.0
Muebles                  176426300.0
Instrumentos musicales   104990300.0
Deportes y diversión      34744500.0
Juguetes                  15945400.0
Artículos para el hogar   14746900.0
Libros                    10091200.0
-----------------------------------
Tienda 3:                              Precio
Categoría del Producto
Electrónicos             410775800.0
Electrodomésticos        329237900.0
Muebles                  201072100.0
Instrumentos musicales    77380900.0
Deportes y diversión      35593100.0
Juguetes                  19401100.0
Artículos para el hogar   15060000.0
Libros                     9498700.0
-----------------------------------
Tienda 4:                              Precio
Categoría del Producto
Electrónicos             409476100.0
Electrodomésticos        283260200.0
Muebles                  192528900.0
Instrumentos musicales    75102400.0
Deportes y diversión      33350100.0
Juguetes                  20262200.0
Artículos para el hogar   15074500.0
Libros                     9321300.0

# 3. Calificación promedio de la tienda

In [48]:
# Lista de tiendas
tiendas = [tienda1, tienda2, tienda3, tienda4]

# Calcular la valoración media por tienda
for i, t in enumerate(tiendas, start=1):
    valoracion_media = t["Calificación"].mean()
    print(f"Valoración media - Tienda {i}: {valoracion_media:.2f}")

Valoración media - Tienda 1: 3.98
Valoración media - Tienda 2: 4.04
Valoración media - Tienda 3: 4.05
Valoración media - Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [50]:
def resumen_ganancias_por_tienda(tienda, numero_tienda):
    # Calcular monto total por producto
    ganancias_producto = tienda.groupby("Producto")["Precio"].sum()

    # Top 3 productos con más ganancias
    top_mas_ganancias = ganancias_producto.sort_values(ascending=False).head(3)

    # Top 3 productos con menos ganancias
    top_menos_ganancias = ganancias_producto.sort_values(ascending=True).head(3)

    # Mostrar resultados
    print(f"--- Tienda {numero_tienda} ---")
    print("Top 3 productos con más ganancias:")
    for producto, monto in top_mas_ganancias.items():
        print(f"{producto}: ${monto}")

    print("\nTop 3 productos con menos ganancias:")
    for producto, monto in top_menos_ganancias.items():
        print(f"{producto}: ${monto}")

    print("-" * 50)


# Aplicar la función a todas las tiendas
for i, t in enumerate(tiendas, start=1):
    resumen_ganancias_por_tienda(t, i)

--- Tienda 1 ---
Top 3 productos con más ganancias:
TV LED UHD 4K: $142150200.0
Refrigerador: $112143300.0
Iphone 15: $97902200.0

Top 3 productos con menos ganancias:
Cuerda para saltar: $652800.0
Dinosaurio Rex: $688900.0
Cubo mágico 8x8: $696900.0
--------------------------------------------------
--- Tienda 2 ---
Top 3 productos con más ganancias:
Iphone 15: $113225800.0
TV LED UHD 4K: $103375000.0
Refrigerador: $97632500.0

Top 3 productos con menos ganancias:
Cubo mágico 8x8: $643600.0
Dinosaurio Rex: $770300.0
Cuerda para saltar: $856900.0
--------------------------------------------------
--- Tienda 3 ---
Top 3 productos con más ganancias:
Refrigerador: $99889700.0
TV LED UHD 4K: $96669100.0
Iphone 15: $93225700.0

Top 3 productos con menos ganancias:
Cubo mágico 8x8: $640400.0
Dinosaurio Rex: $795600.0
Cuerda para saltar: $853800.0
--------------------------------------------------
--- Tienda 4 ---
Top 3 productos con más ganancias:
Iphone 15: $96697500.0
TV LED UHD 4K: $90295300.0
Smart TV: $82790400.0

Top 3 productos con menos ganancias:
Cuerda para saltar: $704800.0
Cubo mágico 8x8: $748400.0
Dinosaurio Rex: $858100.0
--------------------------------------------------

# 5. Envío promedio por tienda

In [42]:
# Lista de tiendas
tiendas = [tienda, tienda2, tienda3, tienda4]

# Calcular el valor promedio del envío por tienda
for i, t in enumerate(tiendas, start=1):
    envio_promedio = t["Costo de envío"].mean()
    print(f"Valor del envío promedio - Tienda {i}: {envio_promedio:.2f}")

Valor del envío promedio - Tienda 1: 26018.61
Valor del envío promedio - Tienda 2: 25216.24
Valor del envío promedio - Tienda 3: 24805.68
Valor del envío promedio - Tienda 4: 23459.46